body{
    background-color: whitesmoke;
}

#mainhtml {
  display: "none";
}

.shobhit-navbar {
  font-family: "Baloo Bhai 2",cursive;
}

.shobhit-header {
    text-align: center;
    background-color: white;
    padding-bottom: 50px;
}
.profile-pic {
    border-radius: 50%;
}
.display-4{
  color: white;
}
.lead{
  color: white;
}
.jumbotron {
  margin-bottom: 0rem;
  background: url(https://images.pexels.com/photos/2644734/pexels-photo-2644734.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  
}
.jumbotron-fluid{
  padding-bottom: 5px;
}
.content{
  text-align: center;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.heading{
  background-image: url("https://dta0yqvfnusiq.cloudfront.net/allia25509810/2019/08/paint-picture-5d66a6d3b40da.jpg");
  text-align: center;
box-shadow: 0px 0px 15px 15px purple ;
font-family: cursive,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 5px solid blueviolet;
  border-radius: 10%;
  width: 90%;
  position: relative;
  right: -5%;
}
.headtopic {
  font-family: Lobster,cursive,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 35px;  
  color: yellow;
}
.box-type{
  border-radius: 80%;
}
#About {
    //background: url(https://www.premierpaintroller.com/wp-content/uploads/2018/06/50-Beautiful-and-Minimalist-Presentation-Backgrounds-03.jpg);
    //background-color: orchid;
    text-align: center;
     font-size: 15px;
}
#Education {
    //background: url(https://storage.pixteller.com/designs/designs-images/2019-03-27/05/simple-background-backgrounds-passion-simple-1-5c9b95c3a34f9.png);
    //background-color: rgb(204,214,246);
    text-align: center;
     font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#Interests{
    //background: url(https://wallpaperaccess.com/full/22532.jpg);
    //background-color: blueviolet;
    text-align: center;
     font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#Achievements{
   //background: url(https://images.wallpaperscraft.com/image/paint_pastel_gradient_125821_1600x900.jpg);
   //background-color: lightseagreen;
    text-align: center;
     font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#Contact {
   
  text-align: center;
   font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background-color: white;
  /*height: 100px;*/
}

.item2 {
  background-color: white;
  /*height: 100px;*/
}

.item3 {
  background-color:white;
  /*height: 100px;*/
}
.contacticon1{
  position: relative;
  right: 15px;
}
.contacticon2{
  position: relative;
  right: -15px;
  top: -10px
}



.loader {
    margin: auto;
    top: 0;
    right: 0;
    bottom: 50px;
    left: 0px;
    border-radius: 52px;
    background: #262626;
    box-shadow: inset 5px 5px 10px #141414, 
                inset -5px -5px 10px #383838;
  
}

.blue {
    position: absolute;
    width: 8px;
    height: 50px;
    border: 1px solid rgba(0, 255, 255, 1);
    animation: blue-glow 1.9s linear infinite;
}

.pink {
    position: absolute;
    width: 8px;
    height: 30px;
    border: 1px solid rgb(255, 0, 102);
    animation: pink-glow 1.9s linear infinite;
}

.one {
    transform: rotate(0deg) translate(0px, -50px);
}

.two {
    transform: rotate(45deg)  translate(0px, -50px);
    animation-delay: 0.1s;
}

.three {
    position: absolute;
    transform: rotate(90deg) translate(0px, -50px);
    animation-delay: 0.2s;
}

.four {
    transform: rotate(135deg)  translate(0px, -50px);
    animation-delay: 0.3s;
}

.five {
    transform: rotate(180deg)  translate(0px, -50px);
    animation-delay: 0.4s;
}

.six {
    transform: rotate(225deg)  translate(0px, -50px);
    animation-delay: 0.5s;
}

.seven {
    transform: rotate(270deg)  translate(0px, -50px);
    animation-delay: 0.6s;
}

.eight {
    transform: rotate(315deg) translate(0px, -50px);  
    animation-delay: 0.7s;
}

.nine {
    transform: rotate(22.5deg)  translate(0px, -50px);
    animation-delay: 1s;
}

.ten {
    transform: rotate(67.5deg) translate(0px, -50px);
    animation-delay: 1.2s;
}

.eleven {
    transform: rotate(112.5deg) translate(0px, -50px);
    animation-delay: 1.3s;
}

.twelve {
    transform: rotate(157.5deg) translate(0px, -50px);
    animation-delay: 1.4s;
}

.thirteen {
    transform: rotate(202.5deg) translate(0px, -50px);
    animation-delay: 1.5s;
}

.fourteen {
    transform: rotate(247.5deg) translate(0px, -50px);
    animation-delay: 1.6s;
}

.fifteen {
    transform: rotate(292.5deg) translate(0px, -50px);
    animation-delay: 1.7s;
}
.sixteen {
    transform: rotate(337.5deg) translate(0px, -50px);
    animation-delay: 1.8s;
}

@keyframes blue-glow {
    to {
        background: rgba(0, 255, 255, 1);
        box-shadow: 0 0 3px rgba(0, 255, 255, 1);
    }
}

@keyframes pink-glow {
    to {
        background: rgb(255, 0, 102);
        box-shadow: 0 0 3px rgb(255, 0, 102);

    }
}
